- breadcrumb = []
- breadcrumb << {url: "#{Pathname.new('/')}", text: "SHOPPY!?"}
- breadcrumb += shop.category_to_array
- breadcrumb << {url: "#{Pathname.new('/').join('shop').join(shop.id.to_s)}", text: shop.name}
%ul.breadcrumb
  - breadcrumb.each_with_index do |bread, i|
    %li= link_to bread[:text], bread[:url]
