下記の通りお問い合わせを受け付けました。
内容に間違いなどないか、今一度ご確認ください。

■店舗名：
= @shop_contact.shop_name

■ご担当者名：
= @shop_contact.person_name

■メールアドレス：
= @shop_contact.email

■お問い合わせ内容：
= @shop_contact.message

ご回答まで今しばらくお待ちください。
