// Place all the styles related to the static_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "constant";

body.static_page .contents {
	.jumbotron {
		background-color: $white;
		background-image: url(image-path("main.jpg"));
		background-size: cover;
		padding: 128px 32px;
		margin-bottom: 60px;
		h1 {
			font-size: 1.8rem;
			font-weight: 600;
			color: $logo-color;
		}
		p {
			font-size: 1.2rem;
			font-weight: 400;
			color: $base-text;
		}
	}
	.content {
		padding: 0;
		margin: 0 0 60px 0;
	}
	.categories {
		li.card {
			display: inline-block;
			width: 265px;
			vertical-align: top;
			margin-right: 10px;
			margin-bottom: 15px;
			.card-header {
				background-color: $footer-bg;
				padding: 0;
				.name {
					font-size: 0.85rem;
					line-height: 1rem;
					a {
						display: block;
						color: $base-text;
						padding: 10px 15px 8px 15px;
					}
				}
			}
			.card-body {
				height: 85px;
				overflow: hidden;
				font-size: 0.85rem;
				line-height: 1.2rem;
				padding: 10px 15px 8px 15px;
			}
		}
		li.card:nth-child(4n) {
			margin-right: 0;
		}
	}
	.admin_posts, .admin_reviews {
		li {
			display: inline-block;
			width: 370px;
			margin: 0 10px 0 0;
			.card {
				.card-body {
					.title {
						font-size: 1.2rem;
						a {
							color: $black;
						}
					}
				}
				.card-footer {
					font-size: 0.75rem;
					text-align: right;
					padding: 8px 16px;
				}
			}
		}
	}
	.shop_reviews {
		li {
			display: inline-block;
			width: 270px;
			vertical-align: top;
			margin: 0 10px 0 0;
			.card {
				.card-img-top {
				}
				.card-body {
					.review-header {
						border-bottom: 1px solid $lightgray;
						padding: 0 0 5px 0;
						margin: 0 0 5px 0;
						.name {
							a {
								font-size: 1rem;
								color: $black;
							}
						}
						.review, .like, .point {
							display: inline-block;
							font-size: 0.75rem;
							margin-right: 0.3rem;
						}
					}
					.review-body {
						p {
							margin: 0;
						}
					}
				}
				.card-footer {
					font-size: 0.75rem;
					text-align: right;
					padding: 8px 16px;
				}
			}
		}
	}
}