%p パスワードの変更

%p パスワードの変更を受け付けました。以下のリンクから行ってください。

%p= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token)

%p
  お心当たりのない場合、このメールは無視してください。
  %br
  上記のリンクから新しいパスワードを作成するまでパスワードは変更されません。
